.jumbotron {
    width: 100%;
    min-height: 300px;
    padding-top: 100px;
    margin: 0px;
    margin-bottom: 5%;
    display: table;
    padding: 180px 20px;
    color: #ffffff;	    
    background-image: url("https://thumbs.dreamstime.com/b/physics-books-library-21729106.jpg");
    background-size: cover;
	background-attachment: fixed;
}